.chat-icon {
  position: absolute;
  left: 46.06%;
  right: 52.49%;
  top: 53.54%;
  bottom: 44.23%;
}

.chat-box {
  position: absolute;
  width: 47px;
  height: 41px;
  left: 785px;
  top: 590px;
}

.chat-box-background {
  background: #FA4542;
  box-shadow: 0px 3px 0px #AD0909;
  border-radius: 5px;
}

.mentee-image {
  position: absolute;
  width: 133px;
  height: 133px;
  left: 623px;
  top: 590px;
  background: url(pexels-ono-kosuki-5973965);
  border-radius: 15px;
}

.brife-case-icon {
  position: absolute;
  left: 34.55%;
  right: 63.66%;
  top: 70.37%;
  bottom: 27.04%;
  background: #000000;
}

.edit-profile {
  position: absolute;
  width: 108px;
  height: 42px;
  left: 1480px;
  top: 339px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #1C1C1C;
}

.edit-profile-box {
  position: absolute;
  width: 159px;
  height: 47px;
  left: 1454px;
  top: 336px;
  background: #F6F6F6;
  box-shadow: 0px 3px 0px #A2A2A2;
  border-radius: 5px;
}

.US {
  position: absolute;
  width: 32px;
  height: 18px;
  left: 741px;
  top: 739px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}

.adam {
  position: absolute;
  width: 132px;
  height: 23px;
  left: 605px;
  top: 736px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #FA4542;  
}

.senior-ux {
  position: absolute;
  width: 142px;
  height: 18px;
  left: 636px;
  top: 794px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}

.google {
  position: absolute;
  width: 52px;
  height: 18px;
  left: 664px;
  top: 768px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}

.profile-box {
  box-sizing: border-box;
  position: absolute;
  width: 316px;
  height: 316px;
  left: 532px;
  top: 572px;
  background: #F6F6F6;
  border: 1px solid #000000;
  border-radius: 27px;
}

.mentors-tab {
  position: absolute;
  width: 205px;
  height: 38px;
  left: 530px;
  top: 514px;
}

.user-info {
  position: absolute;
width: 87px;
height: 42px;
left: 0px;
top: -6px;
}

.mentor {
  position: absolute;
width: 65px;
height: 29px;
left: 127px;
top: 0px;
}

.mentor-button {
  position: absolute;
width: 65px;
height: 29px;
left: 127px;
top: 0px;
}

.mentor-underline {
  position: absolute;
width: 65px;
height: 0px;
left: 192px;
top: 29px;
border: 5px solid #E51B24;
transform: rotate(-180deg);
}

.mentor-button {
  position: absolute;
width: 63px;
height: 23px;
left: 129px;
top: 0px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.user-into-button {
  position: absolute;
width: 82px;
height: 23px;
left: 0px;
top: 0px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.seperate-line {
  position: absolute;
width: 1062px;
height: 0px;
left: 530px;
top: 549px;
border: 1px solid #C4C4C4;
}

.pencil-icon {
  position: absolute;
  left: 38.25%;
  right: 59.03%;
  top: 37.78%;
  bottom: 58.01%;
  background: #FA4542;
}

.pencil-circle {
  position: absolute;
  width: 63px;
  height: 63px;
  left: 655px;
  top: 415px;
  background: #FFFFFF;
}

.sub-line {
  position: absolute;
width: 260px;
height: 23px;
left: 750px;
top: 388px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.dianne {
  position: absolute;
width: 297px;
height: 39px;
left: 750px;
top: 344px;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 39px;
color: #000000;
}

.dianne-image {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 496px;
  top: 251px;
  background: url(image);
  border-radius: 230px;
}

.head-square {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 493px;
  top: 242px;
  background: #FFFFFF;
  border-radius: 230px;
}

.header-picture {
  position: absolute;
  width: 1249px;
  height: 156px;
  left: 403px;
  top: 159px;
  background: url(pexels-pixabay-161154.jpg);
}

.navbar {
  position: absolute;
  width: 1728px;
  height: 62px;
  left: 0px;
  top: 97px;
  background: #222222;
}

.profile-icon {
  position: absolute;
  width: 79px;
  height: 62px;
  left: 1592px;
  top: 0px;
}

.profile-icon-image {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1607px;
  top: 6px;
  background: url(image);
  border-radius: 50px;
}

.profile-icon-position {
  position: absolute;
  width: 79px;
  height: 62px;
  left: 1592px;
  top: 0px;
}

.profile-image-box {
  position: absolute;
  width: 79px;
  height: 62px;
  left: 1592px;
  top: 0px;
  background: #222222;
}

.find-a-mentor {
  position: absolute;
  width: 162px;
  height: 62px;
  left: 1208px;
  top: 0px;
}

.find-a-mentor-text {
  position: absolute;
  width: 127px;
  height: 24px;
  left: 1225px;
  top: 19px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.find-a-mentor-box {
  position: absolute;
  width: 162px;
  height: 62px;
  left: 1208px;
  top: 0px;
  background: #222222;
}

.option-location {
  position: absolute;
  width: 94px;
  height: 62px;
  left: 1382px;
  top: 0px;
}

.option-icon {
  position: absolute;
  left: 81.66%;
  right: 16.26%;
  top: 20.97%;
  bottom: 20.97%;
  background: #F8F8F8;
}

.option-icon-position {
  position: absolute;
  width: 94px;
  height: 62px;
  left: 1382px;
  top: 0px;
  background: #222222;
}

.bell-location {
  position: absolute;
  width: 92px;
  height: 62px;
  left: 1488px;
  top: 0px;
}

.bell-logo {
  position: absolute;
  left: 87.79%;
  right: 10.3%;
  top: 20.97%;
  bottom: 19.35%;
  background: #F8F8F8;
}

.bell-location {
  position: absolute;
  width: 92px;
  height: 62px;
  left: 1488px;
  top: 0px;
  background: #222222;
}

.ga-logo {
  position: absolute;
  width: 331px;
  height: 36px;
  left: 43px;
  top: 13px;
}

.ga-image {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(ga-lockup-e7ca2ce7bf63573ee4ffb09b031e2ce0);
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  position: absolute;
  width: 226px;
  height: 425px;
  left: 136px;
  top: 346px;
}

.home {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.profile {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.messaging {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.seesions {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.accountibility {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.settings {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.support {
  position: absolute;
  width: 226px;
  height: 35px;
  left: 0px;
  top: 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.main-profile {
  box-sizing: border-box;
  position: absolute;
  width: 1249px;
  height: 979px;
  left: 403px;
  top: 147px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
}